body {
    background-color: gray;
}

#retry {
    position: absolute;
    width: 20vw;
    height: 20vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(150, 104, 44);
    z-index: 10;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgb(21, 9, 0);
}

#table {
    width: 90vh;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
    user-select: none;

}

#table div {
    background-color: rgb(212, 172, 120);
    width: 1fr;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table div:nth-child(odd) {
    background-color: rgb(31, 196, 25);
}

#table div:nth-child(even) {
    background-color: rgb(120, 204, 64);
}

#table .clicked:nth-child(odd) {
    background-color: rgb(216, 171, 125);
}

#table .clicked:nth-child(even) {
    background-color: rgb(233, 195, 142);
}

img {
    width: 90%;
}

button {
    background-color: rgb(119, 71, 9);
    border: none;
    padding: 3% 10%;
    color: rgb(150, 104, 44);
}

h1 {
    color: rgb(63, 37, 3);
}

.bomb img {
    animation-name: bomb;
    animation-duration: 1s;
}

@keyframes bomb {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(100%, 100%);
    }
}